<div class="w-full flex flex-col justiy-start items-center">
  <div class=" flex justify-ceneter py-10 items-center  bg-white">
    <%= form_for(resource, as: resource_none, url: registration_path(resource_none), class: "bg-white") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <h1 class="text-gray-800 font-bold text-2xl mb-3">Sign Up</h1>
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4"> 
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                                                                              viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                               d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
        </svg>
    <% end %>
  </div>
</div>
